
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@Html.Action("PartialHead","AdminLayout")
<body>
    <div class="wrapper">
       @Html.Action("PartialNavbar","AdminLayout")
        @Html.Action("PartialSidebar","AdminLayout")
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <!--  <h4 class="page-title">Dashboard</h4> -->
                @RenderBody()
                </div>
            </div>
           @*@Html.Action("PartialFooter","AdminLayout")*@
        </div>

    </div>
   
</body>
@Html.Action("PartialScript","AdminLayout")
</html>
